<div class="anime">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>
<div class="body">
  <div class="button">
    <button type="button" (click)="back()">
      <img src="../../../../../assets/data/Arrow_Left-1024.webp" alt="" />
    </button>
  </div>
  <div class="left-body">
    <img
      src="../../../../../assets/data/navimage-removebg-preview.png"
      height="350px"
    />
  </div>
  <div class="right-body">
    <div class="container1">
      <!-- <h1 class="text-center">
        <b  style="color: white"><i>Welcome to CryptaShield</i></b>
      </h1> -->
      <div class="content">
        <h3 style="color: white">
          <b><i>We Secure ,</i></b>
        </h3>

        <ngx-typed-js
          [typeSpeed]="60"
          [loop]="true"
          [shuffle]="true"
          [showCursor]="false"
          [backSpeed]="20"
          [strings]="[
            'Your Aadhar Details...',
            'Your Bank Details...',
            'Your Pan Details...'
          ]"
        >
          <h4 style="color: white" class="typing"></h4>
        </ngx-typed-js>
      </div>

      <!-- <br> -->
      <hr style="color: white" />
      <div class="text-content">
        <p style="color: rgb(255, 255, 255)">
          <i>
            <b>' Y</b>our secure vault for safeguarding sensitive personal
            information. Our web application, CryptaShield, is meticulously
            crafted to ensure the utmost protection for your Aadhar card
            details, PAN details, and bank information. Leveraging the robust
            RSA algorithm, we employ cutting-edge encryption and decryption
            techniques to fortify your data against unauthorized access.
          </i>
        </p>
        <p style="color: rgb(255, 255, 255)">
          <i>
            At CryptaShield, we empower users to entrust their most vital
            information with confidence. We employ stringent security measures
            to shield your data from potential threats, providing you with peace
            of mind in an increasingly digital world <b>'</b>.
          </i>
        </p>
        <p>
          <i style="color: white"
            >With CryptaShield, rest assured that your confidential information
            remains securely encrypted and accessible only to you. Join us in
            fortifying your digital presence today.</i
          >
        </p>
      </div>
    </div>
  </div>
</div>
