<div class="anime">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  </div>
<div class="RBody">
  <div><h1 class="heading animate__animated animate__zoomIn">Bank</h1></div>
  <div class="button" style="margin-bottom: 1rem;">
    <button type="button" (click)="back()">
      <img src="../../../../../assets/data/Arrow_Left-1024.webp" alt="" />
    </button>
  </div>
  <div class="items">
    <ul>
      <li class="item animate__animated animate__fadeInUpBig"><a routerLink="add_bank">Add Bank Details</a></li>
      <li class="item animate__animated animate__fadeInUpBig"><a routerLink="view_bank">View Bank Details</a></li>
    </ul>
  </div>
</div>
