<div class="anime">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>
<div class="RBody">
  <h1 class="py-5 animate__animated animate__backInDown">
    <b style="color: white"><i> Hello {{username}}, Welcome to CryptaShield</i></b>
  </h1>
  <div
    style="width: 30rem"
    class="content animate__animated animate__fadeInRight"
  >
    <h3 style="color: white">
      <b><i>We Secure,</i></b>
    </h3>
    <ngx-typed-js
      [typeSpeed]="60"
      [loop]="true"
      [shuffle]="false"
      [showCursor]="false"
      [backSpeed]="20"
      [strings]="[
        'Your Aadhar Details...',
        'Your Bank Details...',
        'Your Pan Details...'
      ]"
    >
      <h4 style="color: white" class="typing"></h4>
    </ngx-typed-js>
  </div>

  <div class="items">
    <ul>
      <li class="item animate__animated animate__bounceIn">
        <a routerLink="aadhar">Aadhar</a>
      </li>
      <li class="item animate__animated animate__bounceIn">
        <a routerLink="bank">Bank</a>
      </li>
      <li class="item animate__animated animate__bounceIn">
        <a routerLink="pan">PAN</a>
      </li>
    </ul>
  </div>
</div>
