<div class="anime">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  </div>
<div class="body">
    <div class="left-body">
        <div class="button">
            <button type="button" (click)="back()">
              <img src="../../../../../assets/data/Arrow_Left-1024.webp" alt="" />
            </button>
          </div>
          <img  class="formimg animate__animated animate__fadeInDown" src=".../../../../../../../assets/data/contact-removebg-preview.png" alt="Aadhar_imgae"  height="350px" />
    </div>
    <div class="right-body">
        <div class="container">

            <form  action="https://api.web3forms.com/submit" method="POST" class="animate__animated animate__fadeInRight">
                <div class="text-center header">
                    <h2> Get in touch ...</h2>
                  </div>
                  <input type="hidden" name="access_key" value="e3047705-820d-45a5-bda6-53b9f8482ebe">
                <div class="form-group">
                    <label for="">Name</label>
                    <input   style="border-radius: 10px;" name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name" required>
                  </div>
                <div class="form-group">
                  <label for="">Email address</label>
                  <input style="border-radius: 10px;" name="email"  type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Message</label>
                  <textarea  style="border-radius: 10px;" name="Message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="text-center" >
                    <button  type="submit" class="btn " >Submit</button>
                  </div>
              </form>
        </div>
    </div>
</div>



